@import "../../style.scss";

.event {
    @include themify($themes){
        .container {
            padding: 20px;
            background-color: themed('bg');
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
            border-radius: 10px;
            color: themed('textColor');
        }


        

        .user {
            display: flex;
            justify-content: space-between;

            .userInfo {
                display: flex;
                gap: 20px;
                align-items: center;
                

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .details {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-weight: bold;
                    }
                    .date {
                        font-size: 12px;
                        color: themed('textColorSoft');
                    }
                }
            }

            .dots {
                color: themed('textColorSoft');
            }
            
        }

        .content {
            margin: 20px 0px;

            .nameInfo {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .eventName {
                font-size: 24px;
            }
            
            img {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
                margin-top: 20px;
                border-radius: 10px;
            }

            p {
                margin-top: 20px;
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                display: flex;
                gap: 20px;
            }

            .right {
                display: flex;
                gap: 20px;
            }
             .checkUsersBtn {
                padding: 7px;
                border-radius: 5px;
                background-color: themed('buttonColor');
                border: none;
                align-self: stretch;
                cursor: pointer;
            }

            .signUpBtn {
                padding: 7px;
                border-radius: 5px;
                background-color: #2ECC71;
                color: white;
                border: none;
                align-self: stretch;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken(#2ECC71, 10%);
                }
            }
            

            
            .item {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 14px;
                cursor: default;

                
            }
        }
    }
}